// Fonts Families
$primary-font: 'Montserrat', sans-serif;

// Font Weights
$font-light: 300;
$font-normal: 400;
$font-bold: 700; 

// Colors
$body-color: #0f1721;
$link-color: #00a2c7;
$main-color: #f13a59;
$secondary-color: #2f363f;
$select-color: #0f1721;
$shadow-color: rgba(46, 62, 72, 0.12);
$text-color: #000000;
$white-color: #ffffff;

// Screen sizes
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;
